@model Product

@{

}
<div class="jumbotron">

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.ToString()</h3>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a asp-action="Index">Back To List</a>
    </form>
</div>
